body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", Times, serif;
}

.header {
    display: flex;
    justify-content: space-between;

    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 28px;
    padding: 8px 55px 40px 55px;
}

.header h3 {
    margin: 18px 0px;
}

.header a, ul {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 20px;
    padding: 0px;
    align-items: center;
    list-style: none;
}

.content-box-1 {
    display: flex;
    background-color: #1F2937;
    padding: 0px 55px 40px 55px;
}

.content-box-1 h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.left-container-1 {
    display: flex;
    flex-direction: column;
}

.left-container-1 p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.left-container-2 img{
    width: 600px;
    margin-left: 20px;
}

.content-box-2 h4 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight:800;
    color: #1F2937;
    margin-top: 0px;
}

.content-box-2 {
    margin: 100px 120px;
}

.images-and-txt-container {
    display: flex;
}

.images-and-txt-container img {
    width: 200px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
    border-width: 5px;
}

.img-and-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}

.img-and-txt p {
    font-size: 18px;
    color: #1F2937;
}

.content-box-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 170px;
}

.content-box-3 p {
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.content-box-3 p, h5 {
    margin: 0px;
    font-size: 36px;
}

.content-box-3 h5 {
    align-self: flex-end;
    font-weight: 550;
}

.content-box-4 {
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    padding: 50px 120px;
    margin: 100px 200px;
    border-radius: 10px;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
}

.content-box-4 p {
    color: #F9FAF8;
    margin: 0px;
    margin-right: 12px;

}

.content-box-4 button {
    border: 2px solid #F9FAF8;

}


button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 110px;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
    font-size: 17px;
}

.flex-end {
    align-self: flex-end;
}