body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;

    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 28px;
    padding: 8px 55px 40px 55px;
}

.header h3 {
    margin: 18px 0px;
}

.header a, ul {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 20px;
    padding: 0px;
    align-items: center;
    list-style: none;
}

.content-box-1 {
    display: flex;
    background-color: #1F2937;
    padding: 0px 55px 40px 55px;
}

.content-box-1 h2 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.left-container-1 {
    display: flex;
    flex-direction: column;
}

.left-container-1 p {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
}

.left-container-2 img{
    width: 600px;
    margin-left: 20px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    width: 100px;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    border: 0px;
    font-weight: bold;
}